[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = git://github.com/powerline/fonts
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "repos/plug.kak"]
	path = kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule "repos/kak-lsp"]
	path = repos/kak-lsp
	url = https://github.com/ul/kak-lsp.git
[submodule "repos/fzf"]
	path = repos/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "repos/i3"]
	path = repos/i3
	url = https://github.com/Airblader/i3.git
[submodule "repos/morc_menu"]
	path = repos/morc_menu
	url = https://github.com/Boruch-Baum/morc_menu.git
